
flask             # Web framework (>=2.0)
python-dotenv     # For loading environment variables (>=0.20)
openai            # OpenAI API client (check for the latest stable version)
groq
anthropic
requests          # For making HTTP requests (>=2.28)
gunicorn
cohere
llama-index
llama-index-llms-cohere
llama-index-embeddings-cohere
python-docx
ffmpeg
replicate
redis
